.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 80vh;
  margin: 0 auto;
}